<h3>Create New List Item</h3>


<form action="/item/create" method="post">
  <input type="text" name="name" placeholder="New list item">
  <input type="text" name="quantity" placeholder="Quantity">
  <input type="submit">Add</input>
</form>
