<h3>Registration</h3>
<form class="" action="/register" method="post">
   <input type="text" name="user_name" value="" placeholder="Username">
   <input type="text" name="password" value="" placeholder="Password">
   <input type="submit" name="name" value="Register">
</form>
